.top {
  width: 100%;
  height: 50px;
  background-color: beige;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
}

.topleft,
.topright {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #444;
}
.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.topList a {
  text-decoration: none;
  color: #444;
}
.topListitem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
}
.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: fill; /*cover*/
}

.topcenter {
  flex: 6;
}

.topsearch {
  color: #666;
  cursor: pointer;
  font-size: 18px;
  margin-left: 15px;
}
